body {
    margin: 40px;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1em;
    display: grid;

  }
  
  .box:nth-child(even) {
    background-color: #ccc;
    color: #000;
  }
  
.wrapper {
  width: 900px;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(6, 16vw);
}
.logo{
  max-width: 10%;
}
.main{
  max-width: 80%;
}

img {
  vertical-align: middle;
  display: inline-block;
}
span {
  margin-left: 1vw;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 600px){
  .wrapper {
    width: 900px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns:  90vw;
  }

}